body {
  margin: 0;
}

#bg_image {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.top_boxes {
  display: flex;
}

.rounded_box {
  width: 120px;
  height: 120px;
  margin: 100px 50px 50px 20px;
  background-color: #f2e208;
  border-radius: 10px;
  font-weight: 800;
  color: rgb(20, 121, 244);
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.rounded_box.rotating {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rounded_box:hover {
  animation: scaleAnimation 1s infinite alternate;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
